.dashboard-container {
  /* padding: 20px; */
  /* background-color: #f8f9fc; */
  /* min-height: 100vh; */
  font-family: Arial, sans-serif;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Row for cards */
.card-row {
  display: flex;
  gap: 20px;
}

/* Card style */
.dashboard-card {
  flex: 1;
  padding: 25px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.dashboard-card p {
  font-size: 32px;
  font-weight: bold;
}
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  color: #60a5fa;
}
.layout {
  display: flex;
  min-height: 100vh;
}

