.sidebar {
  width: 60px;
  height: calc(100vh - 60px); /* subtract topbar height */
  background: #1f2937;
  color: white;

  position: fixed;
  top: 60px; /* SAME as topbar height */
  left: 0;

  transition: width 0.3s ease;
  overflow: hidden;
}

/* EXPAND ON HOVER */
.sidebar:hover {
  width: 220px;
  border-radius: 0; /* IMPORTANT */
}

/* LOGO */
.logo {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  white-space: nowrap;
}
.sidebar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 30px;
}


.user-icon {
  font-size: 70px;
  color: #9ca3af;
}

.user-name {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sidebar:hover .user-name {
  opacity: 1;
}
/* MENU */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

/* ICON */
.icon {
  font-size: 20px;
  min-width: 20px;
}

/* TEXT HIDDEN BY DEFAULT */
.text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

/* SHOW TEXT ONLY ON HOVER */
.sidebar:hover .text {
  opacity: 1;
}

/* LINK HOVER EFFECT */
.sidebar a:hover {
  background: #374151;
}
